:root {
	--background-color: var(--color-background);
	--text-color-primary: var(--color-text);
	--font-family-primary: roboto, sans-serif;
	--card-background-color: #ffffff;
}

html,
body {
	color: var(--text-color-primary);
	font-family: var(--font-family-primary, 'sans-serif');
	background-color: var(--background-color);
	transition:
		background-color 0.3s ease,
		color 0.3s ease;
}
