.tag {
	padding: 8px 12px;
	color: var(--text-color-primary);
	font-weight: 400;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.2px;
	border-radius: 20px;
}

.tagButton {
	cursor: pointer;
	transition:
		color 0.3s ease-in-out,
		background-color 0.3s ease-in-out;
}

.tagButton:hover {
	color: #ffffff;
	background-color: var(--color-accent) !important;
}
