/* === Общая страница === */

.page {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding-top: 84px;
}

/* === Верхняя панель === */

.topBar {
	position: fixed;
	top: 40px;
	right: 45px;
	left: 37px;
	z-index: 100;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
}

.auth-card-wrapper {
	box-sizing: border-box;
	width: 100%;
	max-width: 960px;
	padding: 12px;
	background-color: #f9faf6;
	border-radius: 12px;
}

.auth-card {
	display: flex;
	gap: 24px;
	background-color: transparent;
	border-radius: 12px;
	box-shadow: 0 4px 24px rgb(0 0 0 / 5%);
}

/* === Sections === */

.auth-form-section,
.auth-info-section {
	flex: 1;
	box-sizing: border-box;
	min-width: 556px;
	min-height: 692px;
	background-color: #ffffff;
	border-radius: 12px;
	box-shadow: 0 0 0 1px transparent;
}

.auth-info-section {
	justify-content: center;
	align-items: center;
	padding-top: 132px;
	text-align: center;
}

.auth-info-section h3 {
	margin-bottom: 12px;
	color: #222222;
	font-size: 20px;
}

.auth-info-section p {
	max-width: 436px;
	color: #555555;
	font-size: 14px;
	text-align: center;
}

.info-image {
	width: 300px;
	height: 300px;
	object-fit: contain;
	margin-bottom: 20px;
}

/* === Form === */

.auth-form {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.auth-form label {
	display: flex;
	flex-direction: column;
	gap: 6px;
	color: #222222;
	font-size: 14px;
}

.auth-form input,
.auth-form select,
.auth-form textarea {
	box-sizing: border-box;
	height: 40px;
	padding: 10px 12px;
	font-size: 14px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 8px;
	resize: vertical;
}

.auth-form textarea {
	height: auto;
	min-height: 80px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* === Fields === */

.field-with-icon {
	position: relative;
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: 6px;
}

.field-with-icon select {
	width: 100%;
	cursor: pointer;
}

.input {
	align-items: center;
	height: 48px;
	padding: 0 12px;
	background: var(--color-surface);
	border: 1px solid #69735d;
	border-radius: 8px;
}

.input-icon-wrapper {
	position: relative;
}

.customDateWrapper {
	display: flex;
	align-items: center;
	height: 48px;
	padding: 0 12px;
	background: var(--color-surface);
	border: 1px solid #69735d;
	border-radius: 8px;
}

/* Убираем внутреннюю обводку кастомного календаря */

.customDateWrapper :global(.datepicker__input) {
	height: auto;
	padding: 0;
	background: transparent;
	border: none;
	box-shadow: none;
}

.customDateWrapper :global(.datepicker__select) {
	height: auto;
	padding: 0;
	background-color: transparent;
	border: none;
	outline: none;
	box-shadow: none;
}

.closeBtn {
	display: flex;
	align-items: center;
	gap: 8px;
	height: 48px;
	padding: 0 16px;
	background: var(--color-surface);
	border: none;
	border-radius: 8px;
	cursor: pointer;
}

/* === Индикатор шага === */

.stepIndicator {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stepText {
	color: var(--color-text);
	font-weight: 500;
	font-size: 24px;
}

/* === Контейнер карточки регистрации === */

.card {
	display: flex;
	flex-direction: row;
	gap: 24px;
	margin: 30px 152px;
}

/* === Левая и правая секции === */

.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 692px;
	padding: 0 60px;
	background-color: var(--color-surface);
	border-radius: 12px;
}

/* === Блок формы === */

.form {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.inputLabel {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

/* Основные инпуты и селекты */

.inputField {
	width: 100%;
	height: 48px;
	padding: 0 12px;
	color: var(--color-text);
	font-weight: 400;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	background-color: var(--color-surface);
	border: 1px solid #69735d;
	border-radius: 8px;
}

.selectWrapper {
	position: relative;
	display: inline-block;
	width: 100%;
}

.selectWrapper select {
	width: 100%;
	height: 48px;
	padding: 0 30px 0 12px;
	color: var(--color-text);
	font-weight: 400;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	background: var(--color-surface);
	border: 1px solid #69735d;
	border-radius: 8px;
	cursor: pointer;
	appearance: none;
}

/* Кастомная стрелка */

.selectWrapper::after {
	position: absolute;
	top: 50%;
	right: 12px;
	width: 8px;
	height: 8px;
	border-width: 2px 2px 0 0;
	border-style: solid;
	border-color: var(--color-text);
	transform: translateY(-50%) rotate(135deg);
	transition: transform 0.3s ease;
	pointer-events: none;
	content: '';
}

.selectWrapper[aria-expanded='true']::after {
	transform: translateY(-50%) rotate(-45deg);
}

.customDateWrapper :global(select) {
	height: auto;
	padding: 0;
	background-color: transparent;
	border: none;
	outline: none;
	box-shadow: none;
}

/* Для остальных селектов - стандартный бордер */

.errorMessage {
	bottom: -16px;
	left: 0;
	margin-top: 5px;
	color: #bf3920;
	font-size: 12px;
}

.passwordStrength {
	bottom: -16px;
	left: 0;
	margin-top: 5px;
	color: #508826;
	font-size: 12px;
}

/* Стиль для невалидных полей */

.inputField.inputInvalid {
	border-color: #bf3920;
}

/* Стили для контейнера пароля */

/* Для остальных селектов - стандартный бордер */

.passwordWrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 4px;
	margin-bottom: 32px;
}

.inputWithIcon {
	display: flex;
	align-items: center;
	height: 48px;
	padding: 0 12px;
	background: var(--color-surface);
	border: 1px solid #69735d;
	border-radius: 8px;
}

.inputWithIconInvalid {
	padding-right: 8px; /* Чтобы не залезало на иконку глаза */
	border: 1px solid #bf3920;
	border-radius: 8px;
}

.inputWithIcon input {
	flex: 1;
	height: 100%;
	background: transparent;
	border: none;
}

.eyeIcon {
	background: transparent;
	border: none;
	cursor: pointer;
}

.infoContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	padding: 132px 0;
	text-align: center;
}

.infoText {
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 436px;
}

.sectionTitle {
	font-weight: 500;
	font-size: 24px;
	font-family: 'Jost', sans-serif;
}

.sectionText {
	font-weight: 400;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

/* === Социальные кнопки === */

.socialBtnContainer {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.socialBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	width: 100%;
	height: 48px;
	font-weight: 500;
	background-color: var(--color-button-disabled);
	border: 1px solid #69735d;
	border-radius: 8px;
	cursor: pointer;
}

.divider {
	position: relative;
	margin: 24px 0;
	color: var(--color-text);
	font-size: 16px;
	text-align: center;
}

.divider span {
	position: relative;
	z-index: 1;
	padding: 0 8px;
	background: var(--color-surface);
}

.divider::before {
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	height: 1px;
	background-color: #e0e0e0;
	content: '';
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 48px;
	font-weight: 400;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	border-radius: 8px;
	cursor: pointer;
}

.buttonPrimary {
	color: #253017;
	background-color: var(--color-accent);
	border: none;
}

.buttonBack {
	color: var(--color-text);
	background: var(--color-button-disabled);
	border: 1px solid #abd27a;
}

/* Аналогично для кнопок календаря с зелёным фоном */

.datepicker__button--select {
	color: #253017;
	background-color: #a5d36b;
	border: 1px solid #a5d36b;
}

.datepicker__button--select:hover {
	color: #253017;
	background-color: #deebe5;
	border-color: #deebe5;
}

.infoImage {
	width: 300px;
	height: 300px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	width: 100%;
}

/* Аватар — круглая заглушка для загрузки */

.avatarUpload {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 64px;
	height: 64px;
	margin: 0 auto 24px;
	border-radius: 50%;
	cursor: pointer;
}

.avatarUpload img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}

/* Текстовая область (textarea) */

.textArea {
	width: 100%;
	min-height: 96px;
	padding: 12px;
	font-size: 14px;
	border: 1px solid #69735d;
	border-radius: 8px;
	resize: none;
}

/* Контейнер загрузки изображений */

.uploadBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 12px;
	min-height: 96px;
	padding: 12px;
	text-align: center;
	background-color: var(--color-surface);
	border: 1px dashed #69735d;
	border-radius: 8px;
	cursor: pointer;
}

.uploadLabel {
	display: flex;
	align-items: center;
	gap: 8px;
	color: #508817;
	font-weight: 400;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}

/* === Состояние при перетаскивании файла === */

.dragging {
	background-color: #f1f3ef;
	border: 1px solid #69735d;
}

/* === Список загруженных файлов === */

.uploadFileItem {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	border: none;
}

.fileName {
	overflow: hidden;
	color: var(--color-text);
	font-size: 14px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* Иконка "галерея" в списке файлов */

.uploadIcon {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

/* Кнопки Назад / Продолжить вместе */

.form-buttons {
	display: flex;
	gap: 16px;
	width: 100%;
	margin-top: 8px;
}

.customDropdown {
	position: relative;
	display: flex;
	align-items: center;
	max-width: 100%;
	height: 48px;
	padding: 8px 12px;
	padding-right: 30px;
	background: var(--color-surface);
	border: 1px solid #69735d;
	border-radius: 8px;
	cursor: pointer;
	user-select: none;
}

.customDropdown::after {
	position: absolute;
	top: 50%;
	right: 12px;
	width: 8px;
	height: 8px;
	border-width: 2px 2px 0 0;
	border-style: solid;
	border-color: var(--color-text);
	transform: translateY(-50%) rotate(135deg);
	transition: transform 0.3s ease;
	pointer-events: none;
	content: '';
}

.customDropdown[aria-expanded='true']::after {
	transform: translateY(-50%) rotate(-45deg);
}

.dropdownSelected {
	flex-grow: 1;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.dropdownList {
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	z-index: 10;
	max-height: 200px;
	margin-top: 4px;
	padding: 4px 0;
	overflow-y: auto;
	background: var(--color-surface);
	border: 1px solid #69735d;
	border-radius: 4px;
	box-shadow: 0 2px 6px rgb(0 0 0 / 15%);
}

.dropdownItem {
	display: flex;
	align-items: center;
	padding: 4px 12px;
}

.dropdownItem label {
	width: 100%;
	cursor: pointer;
	user-select: none;
}
