.popupList {
	list-style: none;
}

.popupItem {
	position: relative;
	display: flex;
	gap: 8px;
	margin-bottom: 8px;
	margin-left: 36px;
	padding: 22px 24px;
	color: #253017;
	font-weight: 500;
	font-size: 20px;
	font-family: 'Jost', sans-serif;
	background-color: #deebc5;
	border-radius: 10px;
}

.closeButton {
	position: absolute;
	top: 6px;
	right: 6px;
	border: none;
	cursor: pointer;
}
