.logo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.logo-image {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.logo-text {
  color: #111827;
  font-weight: 600;
  font-size: 1.4rem;
}